{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<h1 class="mb-2">Buy Stocks</h1>
    <form action="/buy" method="post">
        <div class="form-group">
            <h3>Symbol</h3>
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Exp: NFLX" type="text">

        </div>
         <div class="form-group">
            <h3>Shares</h3>
            <input autocomplete="off" autofocus class="form-control" name="shares" min="1" placeholder="Exp: 10" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}